<section class="wpo-about-section section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12 order-lg-1 order-2">
        <div class="wpo-about-wrap">
          <div class="wpo-about-img">
            <img src="/assets/images/activity/3.jpeg" alt="activity" />
          </div>
          <div class="wpo-about-exprience">
            <div class="tp-fun-fact-grids clearfix">
              <div class="grid">
                <div class="info">
                  <h3>
                    <span class="odometer" data-count="39">0</span>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </h3>
                  <p>Years experience</p>
                </div>
              </div>
            </div>
            <div class="about-lower-img">
              <img src="/assets/images/activity/4.jpeg" alt="activity" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 order-lg-2 order-1">
        <div class="wpo-about-text">
          <h4>
            <i class="fa fa-plus" aria-hidden="true"></i> TENTANG PHPI
            <i class="fa fa-plus" aria-hidden="true"></i>
          </h4>
          <h2>Perkumpulan Himpunan Pramuwisata Indonesia (PHPI)</h2>
          <p>
            Perkumpulan Himpunan Pramuwisata Indonesia, disingkat PHPI
            (Indonesian Tourist Guide Association), yang dalam operasionalnya
            disebut HPI, adalah organisasi profesi non-politik dan mandiri yang
            merupakan wadah pribadi-pribadi yang berprofesi sebagai Pramuwisata.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
