<section class="wpo-blog-section section-padding">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col">
        <div class="wpo-section-title">
          <span
            ><i class="fa fa-plus" aria-hidden="true"></i> ARTIKEL
            <i class="fa fa-plus" aria-hidden="true"></i
          ></span>
          <h2>
            Baca blog dan artikel terbaru terkait solusi pariwisata dari sini.
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-grids">
          <div class="row">
            <% posts.forEach(post => { %>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="grid">
                <div class="blog-img">
                  <img src="<%= post.thumbnail %>" alt="" />
                </div>
                <div class="text">
                  <span><%= post.createdAt %></span>
                  <h2>
                    <%= post.title %>
                  </h2>
                  <a class="blog-btn" href="/blogs/<%= post.id %>">
                    Read More<i
                      class="fa fa-angle-double-right"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
