<section class="wpo-blog-section section-padding">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col">
        <div class="wpo-section-title">
          <span
            ><i class="fa fa-plus" aria-hidden="true"></i> BLOG POST
            <i class="fa fa-plus" aria-hidden="true"></i
          ></span>
          <h2>Read tech solution related latest blog and article from here.</h2>
          <p>
            But because those who do not know how pursue pleasure rationally
            encounter consequences that are extremely painful noer again is
            there anyone loves desires to obtain pain of itself.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog-grids">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="grid">
                <div class="blog-img">
                  <img src="assets/images/blog/1.jpg" alt="" />
                </div>
                <div class="text">
                  <span>06 January, 2022</span>
                  <h2>
                    Udertakes laborious physical exercise except to obtain some
                    advantage from it has any right to find.
                  </h2>
                  <a class="blog-btn" href="blog-single.html">
                    Read More<i
                      class="fa fa-angle-double-right"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="grid">
                <div class="blog-img">
                  <img src="assets/images/blog/2.jpg" alt="" />
                </div>
                <div class="text">
                  <span>06 January, 2022</span>
                  <h2>
                    Udertakes laborious physical exercise except to obtain some
                    advantage from it has any right to find.
                  </h2>
                  <a class="blog-btn" href="blog-single.html">
                    Read More<i
                      class="fa fa-angle-double-right"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="grid">
                <div class="blog-img">
                  <img src="assets/images/blog/4.jpg" alt="" />
                </div>
                <div class="text">
                  <span>06 January, 2022</span>
                  <h2>
                    Udertakes laborious physical exercise except to obtain some
                    advantage from it has any right to find.
                  </h2>
                  <a class="blog-btn" href="blog-single.html">
                    Read More<i
                      class="fa fa-angle-double-right"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="grid">
                <div class="blog-img">
                  <img src="assets/images/blog/3.jpg" alt="" />
                </div>
                <div class="text">
                  <span>06 January, 2022</span>
                  <h2>
                    Udertakes laborious physical exercise except to obtain some
                    advantage from it has any right to find.
                  </h2>
                  <a class="blog-btn" href="blog-single.html">
                    Read More<i
                      class="fa fa-angle-double-right"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
