<section class="wpo-fun-fact-section section-padding">
  <div class="fun-fact-wrap">
    <div class="container">
      <div class="fun-fact-video">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="wpo-fun-fact-img">
              <img src="assets/images/fun-fact-bg.jpg" alt="" />
              <div class="pop-up-video">
                <div class="video-holder">
                  <a
                    href="https://www.youtube.com/embed/KuTOO28tRI4"
                    class="video-btn"
                    data-type="iframe"
                    ><i class="ti-control-play"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-12">
            <div class="wpo-fun-factt-text">
              <h3>
                Solun provide high quality solutions for your dream industry.
              </h3>
              <p>
                Lorem Ipsum is simply dummy text f printing typesetting industry
                has been the industry's standard dummy text.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-fun-fact-grids clearfix">
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="8,267">00</span></h3>
                <p>Complete Projects</p>
              </div>
            </div>
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="234">00</span>+</h3>
                <p>Qualified Employees</p>
              </div>
            </div>
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="9,837">00</span></h3>
                <p>Satisfied Customers</p>
              </div>
            </div>
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="039">00</span>+</h3>
                <p>Years of Experience</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
