<section class="wpo-fun-fact-section section-padding">
  <div class="fun-fact-wrap">
    <div class="container">
      <div class="fun-fact-video">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="wpo-fun-fact-img">
              <img
                src="https://img.youtube.com/vi/CNAd2-TbLfo/sddefault.jpg"
                alt=""
              />
              <div class="pop-up-video">
                <div class="video-holder">
                  <a
                    href="https://www.youtube.com/embed/CNAd2-TbLfo?si=dwxnZiBsWmfHEsLQ"
                    class="video-btn"
                    data-type="iframe"
                    ><i class="ti-control-play"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-12">
            <div class="wpo-fun-factt-text">
              <h3>Anggota & Keanggotaan</h3>
              <p>
                Keanggotaan HPI terdiri dari pramuwisata berlisensi resmi
                (Tourist Guide License) sesuai regulasi pemerintah. Anggota
                diwajibkan mengikuti pelatihan dan sertifikasi berkala guna
                memastikan kompetensi yang sesuai dengan standar industri.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-fun-fact-grids clearfix">
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="8,267">00</span></h3>
                <p>Total Anggota</p>
              </div>
            </div>
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="234">00</span>+</h3>
                <p>Total Anggota Aktif</p>
              </div>
            </div>
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="9,837">00</span></h3>
                <p>Kontribusi Anggota</p>
              </div>
            </div>
            <div class="grid">
              <div class="info">
                <h3><span class="odometer" data-count="039">00</span>+</h3>
                <p>Years of Experience</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
