<section class="phpi-home-stats">
  <div class="container">
    <div class="phpi-stat-grid">
      <div class="php-stat-card">
        <strong class="phpi-stat-value"
          ><span class="odometer" data-count="8267">00</span></strong
        >
        <span class="phpi-stat-label">Total Members</span>
      </div>
      <div class="php-stat-card">
        <strong class="phpi-stat-value"
          ><span class="odometer" data-count="234">00</span>+</strong
        >
        <span class="phpi-stat-label">Active Members</span>
      </div>
      <div class="php-stat-card">
        <strong class="phpi-stat-value"
          ><span class="odometer" data-count="39">00</span>+</strong
        >
        <span class="phpi-stat-label">Years of Experience</span>
      </div>
      <div class="php-stat-card">
        <strong class="phpi-stat-value">Nationwide</strong>
        <span class="phpi-stat-label">Guide Network</span>
      </div>
    </div>
  </div>
</section>
