<section class="hero hero-style-1">
  <div class="slider-hero">
    <div class="hero-1 position-relative">
      <div class="hero-caption hero-position-left">
        <h2>Selamat Datang di Website Himpunan Pramuwisata Indonesia</h2>
        <div class="d-flex gap-3">
          <a class="theme-btn-sm" href="/about">Tentang Kami </a>
          <a class="theme-btn-sm" href="/register"
            >Register
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <img
        src="/assets/images/slider/banner-phpi.png"
        class="object-position-custom"
        alt="banner-1"
      />
      <!-- helper for overlay -->
      <span
        class="w-100 h-100 position-absolute top-0 left-0 banner-helper"
      ></span>
    </div>
    <div class="hero-1">
      <div class="hero-caption">
        <h2>Selamat Datang di Website Himpunan Pramuwisata Indonesia</h2>
        <a class="theme-btn-sm" href="/register"
          >Join Now
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
      </div>
      <img
        src="/assets/images/slider/example-banner-3.jpg"
        style="object-fit: cover"
        alt="banner-2"
      />
      <!-- helper for overlay -->
      <span
        class="w-100 h-100 position-absolute top-0 left-0 banner-helper"
      ></span>
    </div>
  </div>
</section>
