<section class="hero hero-style-1">
  <div class="container">
    <div class="row">
      <div class="max-col-lg-5 col-md-7 col-12">
        <div class="slide-caption">
          <h2>
            Selamat Datang di Website Perkumpulan Himpunan Pramuwisata Indonesia
          </h2>
          <div class="hero-style-btn">
            <a class="theme-btn" href="about.html"
              >Get Started
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-5">
        <div class="hero-right-img d-none">
          <img src="assets/images/hero-img-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="shepe-1">
    <img src="assets/images/hero-shepe-1.png" alt="" />
  </div>
  <div class="shepe-2">
    <svg width="1026" height="786" viewBox="0 0 1026 786" fill="none">
      <g filter="url(#filter0_f_102_363)">
        <circle cx="323.5" cy="503.5" r="202.5" />
      </g>
      <defs>
        <filter
          id="filter0_f_102_363"
          x="-379"
          y="-199"
          width="1405"
          height="1405"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="250"
            result="effect1_foregroundBlur_102_363"
          />
        </filter>
      </defs>
    </svg>
  </div>
  <div class="shepe-3 d-none">
    <svg width="1249" height="786" viewBox="0 0 1249 786" fill="none">
      <g filter="url(#filter0_f_102_362)">
        <circle cx="702.5" cy="257.5" r="202.5" />
      </g>
      <defs>
        <filter
          id="filter0_f_102_362"
          x="0"
          y="-445"
          width="1405"
          height="1405"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="250"
            result="effect1_foregroundBlur_102_362"
          />
        </filter>
      </defs>
    </svg>
  </div>
  <div class="shepe-4">
    <img src="assets/images/hero-shepe-2.png" alt="" />
  </div>
</section>
