<section class="hero hero-style-1">
  <div class="slider-hero">
    <div class="hero-1">
      <div class="hero-caption">
        <h2>
          Selamat Datang di Website Perkumpulan Himpunan Pramuwisata Indonesia
        </h2>
        <a class="theme-btn-sm" href="/register"
          >Join Now
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
      </div>
      <img src="/assets/images/slider/banner-1.png" alt="banner-1" />
    </div>
  </div>
</section>
