<section class="phpi-home-partners">
  <div class="container">
    <div class="phpi-partners-label">Partners & Network</div>
    <div class="phpi-partners-grid">
      <img src="/assets/images/partners/toto-logo.png" alt="TOTO" />
      <img
        src="/assets/images/partners/wonderfull-indonesia-logo.png"
        alt="Wonderful Indonesia"
      />
      <img src="/assets/images/partners/ilo-logo.png" alt="ILO" />
      <img src="/assets/images/partners/pata-logo.png" alt="PATA" />
      <img src="/assets/images/partners/gipi-logo.png" alt="GIPI" />
      <img src="/assets/images/partners/aseanta-logo.png" alt="ASEANTA" />
    </div>
  </div>
</section>
