<section class="wpo-partners-section">
  <h2>partners</h2>
  <div class="partners-img">
    <img src="assets/images/partners-bg.jpg" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="partner-grids partners-slider owl-carousel">
          <div class="grid">
            <img src="assets/images/partners/1.png" alt />
          </div>
          <div class="grid">
            <img src="assets/images/partners/2.png" alt />
          </div>
          <div class="grid">
            <img src="assets/images/partners/3.png" alt />
          </div>
          <div class="grid">
            <img src="assets/images/partners/4.png" alt />
          </div>
          <div class="grid">
            <img src="assets/images/partners/5.png" alt />
          </div>
          <div class="grid">
            <img src="assets/images/partners/6.png" alt />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
