<section class="wpo-service-section">
  <div class="container">
    <div class="service-wrapper section-padding">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-section-title">
            <div class="service-shape">
              <svg width="1274" height="795" viewBox="0 0 1274 795" fill="none">
                <g filter="url(#filter0_f_106_2)">
                  <path
                    d="M637 395L400.575 -14.5L873.425 -14.4999L637 395Z"
                    fill-opacity="0.55"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_f_106_2"
                    x="0.575043"
                    y="-414.5"
                    width="1272.85"
                    height="1209.5"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="200"
                      result="effect1_foregroundBlur_106_2"
                    />
                  </filter>
                </defs>
              </svg>
            </div>
            <span
              ><i class="fa fa-plus" aria-hidden="true"></i> WHAT WE DO
              <i class="fa fa-plus" aria-hidden="true"></i
            ></span>
            <h2>Products</h2>
          </div>
        </div>
      </div>

      <div class="service-grids">
        <div class="row mb-5">
          <div class="col col-xs-12 sortable-project">
            <div class="service-slider owl-carousel">
              <div>
                <div class="grid">
                  <div class="service-img">
                    <img src="assets/images/service/1.jpg" alt="" />
                  </div>
                  <div class="service-text">
                    <h2>Workplace Technology</h2>
                    <p>
                      Dummy text sones the printing typesetting industry has
                      been industry standard dummy since.
                    </p>
                    <a class="service-btn" href="service-single.html">
                      Learn More
                      <i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="grid">
                  <div class="service-img">
                    <img src="assets/images/service/2.jpg" alt="" />
                  </div>
                  <div class="service-text">
                    <h2>Data Center Solutions</h2>
                    <p>
                      Dummy text sones the printing typesetting industry has
                      been industry standard dummy since.
                    </p>
                    <a class="service-btn" href="service-single.html">
                      Learn More
                      <i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </div>
                </div>
              </div>
              <div>
                <div class="grid">
                  <div class="service-img">
                    <img src="assets/images/service/3.jpg" alt="" />
                  </div>
                  <div class="service-text">
                    <h2>Managed Data Server</h2>
                    <p>
                      Dummy text sones the printing typesetting industry has
                      been industry standard dummy since.
                    </p>
                    <a class="service-btn" href="service-single.html">
                      Learn More
                      <i
                        class="fa fa-angle-double-right"
                        aria-hidden="true"
                      ></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xs-12 d-flex justify-content-center">
          <div class="wpo-service-btn">
            <a class="theme-btn" href="products"
              >All Products
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
