<section class="wpo-team-section section-padding">
  <div class="shepe-1">
    <svg width="932" height="1073" viewBox="0 0 932 1073" fill="none">
      <g filter="url(#filter0_f_107_138)">
        <path
          d="M543.5 400L577.289 503.993L686.634 503.993L598.172 568.264L631.962 672.257L543.5 607.986L455.038 672.257L488.828 568.264L400.366 503.993L509.711 503.993L543.5 400Z"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_107_138"
          x="0.365967"
          y="0"
          width="1086.27"
          height="1072.26"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="200"
            result="effect1_foregroundBlur_107_138"
          />
        </filter>
      </defs>
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="wpo-section-title">
          <span
            ><i class="fa fa-plus" aria-hidden="true"></i> TEAM MEMBERS
            <i class="fa fa-plus" aria-hidden="true"></i
          ></span>
          <h2>Anggota Kehormatan</h2>
        </div>
      </div>
    </div>
    <div class="team-grids">
      <div class="row justify-content-between">
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="grid team-1">
            <div class="grid-img">
              <img src="assets/images/team/1.jpg" alt="" />
              <div class="social-single-link">
                <a href="#"><i class="ti-linkedin"></i></a>
              </div>
            </div>
            <div class="text">
              <h3><a href="team-single.html">Budiarto</a></h3>
              <span>Wakil Ketua Umum</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="grid team-2">
            <div class="grid-img">
              <img src="assets/images/team/2.jpg" alt="" />
              <div class="social-single-link">
                <a href="#"><i class="ti-linkedin"></i></a>
              </div>
            </div>
            <div class="text">
              <h3><a href="team-single.html">Sri Suryani</a></h3>
              <span>Bendahara Umum</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="grid">
            <div class="grid-img">
              <img src="assets/images/team/3.jpg" alt="" />
              <div class="social-single-link">
                <a href="#"><i class="ti-linkedin"></i></a>
              </div>
            </div>
            <div class="text">
              <h3><a href="team-single.html">Imam Widodo</a></h3>
              <span>Ketua Umum</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="grid team-4">
            <div class="grid-img">
              <img src="assets/images/team/4.jpg" alt="" />
              <div class="social-single-link">
                <a href="#"><i class="ti-linkedin"></i></a>
              </div>
            </div>
            <div class="text">
              <h3><a href="team-single.html">Reyhan Pattiwael</a></h3>
              <span>Sekretaris Jenderal</span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
          <div class="grid team-5">
            <div class="grid-img">
              <img src="assets/images/team/5.jpg" alt="" />
              <div class="social-single-link">
                <a href="#"><i class="ti-linkedin"></i></a>
              </div>
            </div>
            <div class="text">
              <h3><a href="team-single.html">Nur Citaningrum</a></h3>
              <span>Wakil Sekretaris Jenderal</span>
            </div>
          </div>
        </div>
      </div>
      <div class="team-grids-btn">
        <div class="row justify-content-center">
          <div class="col-lg-2 col-12">
            <div class="shepe">
              <svg width="474" height="474" viewBox="0 0 474 474" fill="none">
                <g filter="url(#filter0_f_105_426)">
                  <circle cx="237" cy="237" r="87" fill-opacity="0.3" />
                  <circle
                    cx="237"
                    cy="237"
                    r="86"
                    stroke-width="2"
                    stroke-dasharray="10 10"
                  />
                </g>
                <defs>
                  <filter
                    id="filter0_f_105_426"
                    x="0"
                    y="0"
                    width="474"
                    height="474"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="BackgroundImageFix"
                      result="shape"
                    />
                    <feGaussianBlur
                      stdDeviation="75"
                      result="effect1_foregroundBlur_105_426"
                    />
                  </filter>
                </defs>
              </svg>
            </div>
            <a href="team.html">
              <div class="join-btn">
                <h3>Join Now</h3>
                <i class="ti-arrow-right"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shepe-2">
    <svg
      width="739"
      height="1073"
      viewBox="0 0 739 1073"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_f_107_139)">
        <path
          d="M195.5 400L229.289 503.993L338.634 503.993L250.172 568.264L283.962 672.257L195.5 607.986L107.038 672.257L140.828 568.264L52.366 503.993L161.711 503.993L195.5 400Z"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_107_139"
          x="-347.634"
          y="0"
          width="1086.27"
          height="1072.26"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"
          />
          <feGaussianBlur
            stdDeviation="200"
            result="effect1_foregroundBlur_107_139"
          />
        </filter>
      </defs>
    </svg>
  </div>
</section>
