<section class="wpo-testimonial-section section-padding">
  <div class="shape-1">
    <img src="/assets/images/testimonial/shape-1.png" alt="" />
  </div>
  <div class="shape-2">
    <img src="/assets/images/testimonial/shape-2.png" alt="" />
  </div>
  <div class="container">
    <div class="mb-9-rem">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="testimonial-title">
            <h3>
              <span class="border-dot-1"></span>
              <span class="border-dot-2"></span>
              Mitra Kerja
              <span class="border-dot-3"></span>
              <span class="border-dot-4"></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="testimonial-wrap">
        <div class="row justify-content-center">
          <div class="col-3">
            <img
              src="/assets/images/partners/toto-logo.png"
              alt="toto-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
          <div class="col-3">
            <img
              src="/assets/images/partners/wonderfull-indonesia-logo.png"
              alt="wonderfull-indonesia-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
          <div class="col-3">
            <img
              src="/assets/images/partners/ilo-logo.png"
              alt="ilo-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="testimonial-title">
            <h3>
              <span class="border-dot-1"></span>
              <span class="border-dot-2"></span>
              Anggota Dari
              <span class="border-dot-3"></span>
              <span class="border-dot-4"></span>
            </h3>
          </div>
        </div>
      </div>
      <div class="testimonial-wrap">
        <div class="row justify-content-center">
          <div class="col-3">
            <img
              src="/assets/images/partners/pata-logo.png"
              alt="pata-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
          <div class="col-3">
            <img
              src="/assets/images/partners/gipi-logo.png"
              alt="gipi-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
          <div class="col-3">
            <img
              src="/assets/images/partners/ahra-logo.png"
              alt="ahra-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
          <div class="col-3">
            <img
              src="/assets/images/partners/aseanta-logo.png"
              alt="aseanta-logo.png"
              style="mix-blend-mode: multiply"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-3">
    <img src="/assets/images/testimonial/shape-3.png" alt="" />
  </div>
  <div class="shape-4">
    <img src="/assets/images/testimonial/shape-4.png" alt="" />
  </div>
</section>
