<section class="wpo-testimonial-section section-padding">
  <div class="shape-1">
    <img src="/assets/images/testimonial/shape-1.png" alt="" />
  </div>
  <div class="shape-2">
    <img src="/assets/images/testimonial/shape-2.png" alt="" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="testimonial-title">
          <h3>
            <span class="border-dot-1"></span>
            <span class="border-dot-2"></span>
            World wide 16,000+ happy cutomer
            <span class="border-dot-3"></span>
            <span class="border-dot-4"></span>
          </h3>
        </div>
      </div>
    </div>
    <div class="testimonial-wrap">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="testimonial-slider">
            <div class="testimonial-slider-content">
              <img src="/assets/images/quote.png" alt="" />
              <div class="text">
                <h3>
                  I must explain to you how all this mistaken idea of denouncing
                  pleasure and praising pain was born and I will give you a
                  complete account of the system, and expound the actual this
                  mistaken idea will give you a complete account.
                </h3>
              </div>
              <div class="icon">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="testimonial-slider-content">
              <img src="/assets/images/quote.png" alt="" />
              <div class="text">
                <h3>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat."
                </h3>
              </div>
              <div class="icon">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div class="testimonial-slider-content">
              <img src="/assets/images/quote.png" alt="" />
              <div class="text">
                <h3>
                  I must explain to you how all this mistaken idea of denouncing
                  pleasure and praising pain was born and I will give you a
                  complete account of the system, and expound the actual this
                  mistaken idea will give you a complete account.
                </h3>
              </div>
              <div class="icon">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="testimonial-img">
            <ul class="slider-navbar">
              <li class="image-grid">
                <img src="/assets/images/testimonial/img-1.jpg" alt="" />
                <div class="image-text">
                  <h2>Herta Matos</h2>
                  <span>Businessman</span>
                </div>
              </li>
              <li class="image-grid">
                <img src="/assets/images/testimonial/img-2.jpg" alt="" />
                <div class="image-text">
                  <h2>George Matos</h2>
                  <span>Businessman</span>
                </div>
              </li>
              <li class="image-grid">
                <img src="/assets/images/testimonial/img-2.jpg" alt="" />
                <div class="image-text">
                  <h2>D. Ledford</h2>
                  <span>Businessman</span>
                </div>
              </li>
              <li class="image-grid">
                <img src="/assets/images/testimonial/img-3.jpg" alt="" />
                <div class="image-text">
                  <h2>Racheal</h2>
                  <span>Businessman</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-3">
    <img src="/assets/images/testimonial/shape-3.png" alt="" />
  </div>
  <div class="shape-4">
    <img src="/assets/images/testimonial/shape-4.png" alt="" />
  </div>
</section>
