<footer class="wpo-site-footer">
  <div class="shape-1">
    <img src="/assets/images/footer-shape.png" alt="" />
  </div>
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="wpo-wrap-footer">
        <div class="row">
          <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="widget about-widget">
              <div class="logo widget-title">
                <a href="/" class="d-flex gap-2 align-items-center">
                  <img
                    src="/assets/images/Logo-HPI.webp"
                    alt="Logo-HPI"
                    width="80"
                  />
                  <div class="d-flex flex-column w-100">
                    <h5 class="text-white">PHPI</h5>
                    <span class="text-white font-xs"
                      >PERKUMPULAN HIMPUNAN PRAMUWISATA INDONESIA</span
                    >
                  </div>
                </a>
              </div>
              <ul>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-twitter-alt"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-google"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="widget link-widget">
              <div class="widget-title">
                <h3>Menu</h3>
              </div>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Tentang Kami</a></li>
                <li><a href="/directory">Direktori</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/membes">Member</a></li>
                <li><a href="/find-your-guide">Find Your Guide</a></li>
              </ul>
            </div>
          </div>
          <div class="col col-lg-3 col-md-6 col-sm-12 col-12 d-none">
            <div class="widget blog-widget">
              <div class="widget-title">
                <h3>Recent Post</h3>
              </div>
              <ul>
                <li>
                  <p>
                    <a href="blog-single.html"
                      >What are the pros and cons of becoming a it solution?</a
                    >
                  </p>
                  <span><i class="fi flaticon-calendar"></i> 10.09.2024</span>
                </li>
                <li>
                  <p>
                    <a href="blog-single.html"
                      >We are able to give truly independent advice</a
                    >
                  </p>
                  <span><i class="fi flaticon-calendar"></i> 10.09.2024</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="widget newsletter-widget">
              <div class="widget-title">
                <h3>Newsletter</h3>
              </div>
              <p>
                Stay updated with the latest news and updates by subscribing to
                our newsletter.
              </p>
              <form>
                <div class="input-1">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email Address *"
                    required=""
                  />
                </div>
                <div class="submit clearfix">
                  <button type="submit">
                    <i class="fi flaticon-send"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <p class="copyright">
            Copyright &copy; 2024 Perkumpulan Himpunan Pramuwisata Indonesia
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-2">
    <img src="/assets/images/footer-shape-1.png" alt="" />
  </div>
</footer>
