<header id="header" class="site-header header-style-1">
  <div class="topbar">
    <div class="topbar-shape"></div>
    <div class="container">
      <div class="row">
        <div class="col col-lg-2 col-md-3 col-12 w-auto">
          <div class="site-logo">
            <a href="index.html" class="d-flex gap-2 align-items-center">
              <img
                src="assets/images/Logo-HPI.webp"
                alt="Logo-HPI"
                width="80"
              />
              <div class="d-flex flex-column w-100">
                <h5 class="text-white">PHPI</h5>
                <span class="text-white font-xs"
                  >PERKUMPULAN HIMPUNAN PRAMUWISATA INDONESIA</span
                >
              </div>
            </a>
          </div>
        </div>
        <div class="col col-lg-10 col-md-9 col-12 d-none">
          <div class="contact-intro">
            <div class="contact-info">
              <a href="tel:+4733378901">
                <ul>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </li>
                  <li>
                    <div class="contact-dete">
                      <span>Call Us Today</span>
                      <p>+88 5697 - 45 - 683</p>
                    </div>
                  </li>
                </ul>
              </a>
            </div>
            <div class="contact-info">
              <ul>
                <li>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </li>
                <li>
                  <div class="contact-dete">
                    <span>E-mail Address</span>
                    <p>example@solun.com</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->
  <nav class="navigation navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="open-btn">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse navigation-holder">
        <button class="close-navbar"><i class="fa fa-close"></i></button>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="about">Tentang Kami</a></li>
          <li>
            <a href="products">Produk</a>
          </li>
          <li>
            <a href="members">Member</a>
          </li>
          <li><a href="contact">Kontak</a></li>
        </ul>
      </div>
      <!-- end of nav-collapse -->
      <div class="search-quote">
        <div class="quote">
          <a href="register" class="theme-btn">Register</a>
        </div>
      </div>
    </div>
    <!-- end of container -->
  </nav>
</header>
