<header id="header" class="site-header phpi-public-header">
  <nav class="navigation navbar navbar-expand-lg">
    <div class="container phpi-nav-container">
      <a href="/" class="phpi-nav-brand" aria-label="PHPI Home">
        <img src="/assets/images/Logo-HPI.webp" alt="Logo HPI" />
        <span>
          <small>Himpunan Pramuwisata Indonesia</small>
        </span>
      </a>

      <button class="open-btn phpi-nav-toggle" aria-label="Open navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <div id="navbar" class="collapse navbar-collapse navigation-holder">
        <button class="close-navbar" aria-label="Close navigation">
          <i class="fa fa-close"></i>
        </button>
        <ul class="nav navbar-nav phpi-nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">Tentang Kami</a></li>
          <li><a href="/directory">Direktori</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/members">Member</a></li>
          <li><a href="/products">Produk</a></li>
          <li><a href="/find-your-guide">Find Your Guide</a></li>
          <% if (session.user) { %>
          <li class="item-add-on"><a href="/panel/profile">Go to Panel</a></li>
          <li class="item-add-on"><a href="/logout">Logout</a></li>
          <% } else { %>
          <li class="item-add-on"><a href="/login">Login</a></li>
          <li class="item-add-on"><a href="/register">Register</a></li>
          <% } %>
        </ul>
      </div>
      <button class="phpi-nav-backdrop" aria-label="Close menu"></button>

      <div class="phpi-nav-actions">
        <% if (session.user) { %>
        <a href="/panel/profile" class="phpi-nav-cta phpi-nav-cta-light"
          >Go to Panel</a
        >
        <% } else { %>
        <a href="/login" class="phpi-nav-link">Login</a>
        <a href="/register" class="phpi-nav-cta">Register</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
