<div class="preloader">
  <div class="phpi-loader-shell">
    <div class="phpi-loader-card">
      <div class="phpi-loader-dots" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
