<div class="service-shape">
  <svg width="1274" height="795" viewBox="0 0 1274 795" fill="none">
    <g filter="url(#filter0_f_106_2)">
      <path
        d="M637 395L400.575 -14.5L873.425 -14.4999L637 395Z"
        fill-opacity="0.55"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_106_2"
        x="0.575043"
        y="-414.5"
        width="1272.85"
        height="1209.5"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feGaussianBlur
          stdDeviation="200"
          result="effect1_foregroundBlur_106_2"
        />
      </filter>
    </defs>
  </svg>
</div>
