<div>
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h4>Products</h4>

    <a href="/panel/products/create">
      <button class="theme-btn-sm">Tambah Produk</button>
    </a>
  </div>

  <div class="card p-4">
    <table id="dt-product" class="table table-striped table-hover w-100">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Harga</th>
          <th scope="col">Kategori</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data akan dimuat melalui DataTables menggunakan Ajax -->
      </tbody>
    </table>
  </div>
</div>
