/*---------------------------
	Fonts
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

// fonts
$base-font-size: 15px;
$base-font: "Ubuntu", sans-serif;
$heading-font: "Ubuntu", sans-serif;

// color
$dark-gray: #370000; //
$body-color: #828086; //
$white: #fff;
$small-white: #fffdd0; //
$light: #f5f6f8; //
$black: #000;
$cyan: #fffdd0; //
$orange: #ff9900;

$theme-primary-color: #e44d4d; //
$theme-secondary-color: #510202; //
$theme-primary-color-s3: #8c4848; //
$theme-primary-color-s4: #ede5fb; //
$theme-primary-color-s5: #bcbc69; //
$body-bg-color: #fff;
$section-bg-color: #79777d; //
$text-color: #828086; //
$text-color-s2: #bebc99; //
$text-light-color: #867f93; //
$heading-color: $dark-gray;
$border-color: #f6f6f6; //
$border-color-s2: #dce0e8; //
$border-color-s3: #e3e8f1; //
