<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-team-section -->
  <section class="wpo-about">
    <div class="row">
      <div class="col col-xs-12">
        <div class="wpo-section-title">
          <h2>Tentang Kami</h2>
        </div>
      </div>
    </div>

    <div class="pdf-view">
      <embed
        src="assets/pdf/about.pdf"
        width="100%"
        height="800px"
        type="application/pdf"
      />
    </div>
  </section>
  <!-- end wpo-team-section -->

  <!-- stert wpo-social-section -->
  <%- include('../components/partials/home/social') %>
  <!-- end wpo-social-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
