<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-team-section -->
  <section class="wpo-about">
    <div class="row">
      <div class="col col-xs-12">
        <div class="wpo-section-title">
          <h2>Kontribusi</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- end wpo-team-section -->

  <div class="container pb-5" style="padding-bottom: 10rem !important">
    <p>
      Sebagai organisasi profesi, HPI memainkan peran strategis dalam memajukan
      pariwisata Indonesia. Pramuwisata yang tergabung dalam HPI merupakan ujung
      tombak dalam memberikan pengalaman wisata terbaik bagi pengunjung,
      mempromosikan kekayaan budaya dan alam Nusantara, serta memperkuat citra
      positif pariwisata Indonesia di tingkat global. Dengan dedikasi dan
      profesionalisme, HPI terus mendukung upaya menjadikan Indonesia sebagai
      destinasi wisata kelas dunia.
    </p>
  </div>

  <!-- stert wpo-social-section -->
  <%- include('../components/partials/home/social') %>
  <!-- end wpo-social-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
