<div class="page-wrapper">
  <!-- start preloader -->
  <%- include('../components/ui/preloader') %>
  <!-- end preloader -->
  <!-- Start header -->
  <%- include('../components/ui/header') %>
  <!-- end of header -->

  <!-- start wpo-team-section -->
  <section class="wpo-about">
    <div class="row">
      <div class="col col-xs-12">
        <div class="wpo-section-title">
          <h2>Sejarah - Perkumpulan Himpunan Pramuwisata Indonesia</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- end wpo-team-section -->

  <div class="container pb-5" style="padding-bottom: 10rem !important">
    <p>
      Himpunan Pramuwisata Indonesia (HPI) berawal dari pembentukan organisasi
      bernama <b>Himpunan Duta Wisata Indonesia (HDWI)</b> pada
      <b> 27 Maret 1983.</b>
      Organisasi ini diprakarsai oleh Joop Ave, yang saat itu menjabat sebagai
      Direktur Jenderal Pariwisata, Pos, dan Telekomunikasi (Dirjen Parpostel).
      Pembentukan HDWI bertujuan untuk menaungi dan membina para pramuwisata
      dalam menghadapi kebutuhan akan profesionalisme di sektor pariwisata yang
      terus berkembang.
    </p>

    <p>
      Atas usulan Dirjen Parpostel, nama HDWI diubah menjadi
      <b>Himpunan Pramuwisata Indonesia (HPI)</b> pada <b>29-30 Maret 1988</b>.
      Pergantian nama ini sekaligus menegaskan status HPI sebagai
      <b>satu-satunya wadah resmi bagi profesi pramuwisata di Indonesia</b>,
      dengan legalitas formal melalui
      <b>Keputusan Menteri Pariwisata, Pos, dan Telekomunikasi</b>. Perubahan
      nama tersebut merupakan langkah strategis untuk mencerminkan peran
      organisasi dalam meningkatkan kompetensi dan profesionalisme pramuwisata.
    </p>

    <p>
      HPI mengadakan <b>Musyawarah Nasional (MUNAS) I</b> pada
      <b>5 Oktober 1988</b> di Palembang. Forum tersebut memperkuat landasan
      hukum organisasi berdasarkan
      <b
        >Keputusan Menteri Pariwisata No. KM. 82/PW.102/MPPT-88 tanggal 17
        September 1988</b
      >
      tentang Pramuwisata dan Pengatur Wisata. Sejak itu, HPI terus berkembang
      menjadi organisasi yang profesional, dengan struktur yang mencakup Dewan
      Pimpinan Pusat (DPP), Dewan Pimpinan Daerah (DPD), dan Dewan Pimpinan
      Cabang (DPC).
    </p>

    <p>
      Pada tahun <b>2016</b>, HPI bertransformasi menjadi
      <b>Perhimpunan Himpunan Pramuwisata Indonesia (PHPI)</b> berdasarkan
      <b
        >Keputusan Menteri Hukum dan HAM No. AHU-0074700.AH.01.07 tanggal 22
        September 2016</b
      >. Transformasi ini mengukuhkan posisi HPI sebagai organisasi berbadan
      hukum yang lebih modern dan adaptif terhadap dinamika industri pariwisata.
    </p>
  </div>

  <!-- stert wpo-social-section -->
  <%- include('../components/partials/home/social') %>
  <!-- end wpo-social-section -->

  <!-- start of wpo-site-footer-section -->
  <%- include('../components/ui/footer.ejs') %>
  <!-- end of wpo-site-footer-section -->
</div>
