.wpo-page-search-guide {
  .filter {
    padding: 0 15px;
    gap: 6px;
    @media (max-width: 767px) {
      gap: 6px;
    }
  }

  .guide-container {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .not-found,
    .loading {
      grid-column: span 4;
      text-align: center;
    }

    .guide-item {
      overflow: hidden;
      grid-column: span 1;
      border: 1px solid lightgrey;
      color: black;
      border-radius: 6px;
      padding: 0;
      .img-holder {
        height: 192px;
        border-bottom: 1px solid lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .guide-body {
        padding: 15px;
        .guide-name {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: small;
          margin-bottom: 8px;

          i {
            color: #f9d322;
          }
        }
        .review-count {
          font-size: small;
          display: block;
          margin-bottom: 8px;
        }
        .badge {
          display: block;
          width: fit-content;
          padding: 8px;
          background-color: lightgrey;
          color: black;
          font-weight: 400;
          border-radius: 5px;
          font-size: small;
          margin-bottom: 8px;
        }
      }
    }
  }
}
