/*--------------------------------------------------------------
9. wpo-shop-page
--------------------------------------------------------------*/
.wpo-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  h3 {
    color: #f7f7f7;
    text-align: center;
  }

  .subtitle {
    color: #f7f7f7;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 14rem;
    text-align: center;
  }

  form {
    width: 100%;
    margin-top: 10px;
    padding: 0 8rem;

    .input-group-text {
      background-color: white;
      padding: 19px 16px;
      border-radius: 12px 0 0 12px;
    }

    input {
      border-left: none;
      font-size: larger;
      outline: none;
      box-shadow: none;
      padding: 27px 3px;
      border-radius: 0 12px 12px 0;
    }
    input:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
.wpo-shop-section {
  .title-section {
    margin-bottom: 1rem;
  }
  section {
    position: relative;
    margin-bottom: 4rem;

    .title-section {
      position: relative;
      margin-bottom: 1.5rem;
    }

    .title-section::after {
      content: '';
      position: absolute;
      width: 5rem;
      height: 3px;
      background-color: #071257;
      bottom: -5px;
      left: 2px;
    }
  }

  .custom-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .location-item {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .img-holder {
        width: 126px;
        height: 96px;
        border: 1px solid lightgray;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .guide-container {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    .guide-item {
      grid-column: span 1;
      border: 1px solid lightgrey;
      color: black;
      border-radius: 6px;
      padding: 0;
      .img-holder {
        height: 192px;
        border-bottom: 1px solid lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .guide-body {
        padding: 15px;
        .guide-name {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: small;
          margin-bottom: 8px;

          i {
            color: #f9d322;
          }
        }
        .review-count {
          font-size: small;
          display: block;
          margin-bottom: 8px;
        }
        .badge {
          display: block;
          width: fit-content;
          padding: 8px;
          background-color: lightgrey;
          color: black;
          font-weight: 400;
          border-radius: 5px;
          font-size: small;
          margin-bottom: 8px;
        }
      }
    }
  }

  .shop-grids {
    margin: 0 -15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @include media-query(767px) {
      margin: 0 -7px;
    }

    .grid-item {
      grid-column: span 1;

      .img-container {
        border: 1px solid #f1f0f0;
        margin: 0;
        background: #f7f7f7;

        .img-holder {
          width: 100%;
          height: 200px;
          overflow: hidden;
          border: 1px solid rgba(112, 128, 144, 0.06);
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .img-mini {
          gap: 10px;
          display: grid;
          height: 60px;
          grid-template-columns: repeat(4, 1fr);

          .img-mini-item {
            grid-column: span 1;
            overflow: hidden;
            border: 1px solid rgba(112, 128, 144, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .details {
    background-color: #f7f7f7;
    text-align: center;
    padding: 24px;

    h3 {
      display: flex;
      font-size: 20px;
      font-size: calc-rem-value(20);
      margin: 0 0 0.5em;
      font-weight: 500;

      @include media-query(991px) {
        font-size: 16px;
        font-size: calc-rem-value(16);
      }
    }

    .metadata {
      margin-top: 2rem;
      display: flex;
      gap: 8px;

      .badge {
        padding: 9px;
        background-color: $theme-primary-color;
      }
    }

    .description {
      color: $text-color;
      margin-top: 1rem;
      display: flex;
      text-wrap: wrap;
      text-align: left;
    }

    .price {
      margin-top: 1rem;
      display: flex;
      gap: 8px;

      span {
        color: $text-color;
      }
    }

    h3 a {
      color: $heading-color;
    }

    h3 a:hover {
      color: $theme-primary-color;
    }

    del {
      color: $text-color;
    }

    del + span {
      display: inline-block;
      padding-left: 20px;
    }
  }

  .add-to-cart {
    margin-top: 20px;

    a {
      font-family: $base-font;
      font-size: 15px;
      font-size: calc-rem-value(15);
      font-weight: 500;
      color: $theme-primary-color;
      padding: 12px 20px;
      border: 2px solid $theme-primary-color;
      display: inline-block;
      border-radius: 50px;

      @include media-query(767px) {
        font-size: 12px;
        font-size: calc-rem-value(12);
        padding: 8px 18px;
      }
    }

    a:hover {
      background-color: $theme-primary-color;
      color: $white;
    }

    a i {
      font-size: 15px;
      font-size: calc-rem-value(15);
      display: inline-block;
      padding-left: 5px;
    }
  }

  .grid:hover .add-to-cart a {
    background-color: $theme-primary-color;
    color: $white;
  }
}
