<div
  class="modal fade"
  id="qrcodeModal"
  tabindex="-1"
  aria-labelledby="qrcodeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="qr-modal col-12" id="qrcode-modal"></div>
      </div>
    </div>
  </div>
</div>
