<div
  class="modal fade"
  id="qrcodeModal"
  tabindex="-1"
  aria-labelledby="qrcodeModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center"
  >
    <div class="modal-content w-fit">
      <div class="modal-body">
        <div class="qr-modal col-12" id="qrcode-modal"></div>
      </div>
    </div>
  </div>
</div>
