<div
  class="modal fade"
  id="qrcodeModal"
  tabindex="-1"
  aria-labelledby="qrcodeModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center"
  >
    <div class="modal-content w-fit">
      <div class="modal-body">
        <div class="qr-modal col-12" id="qrcode-modal"></div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="cardMemberModal"
  tabindex="-1"
  aria-labelledby="cardMemberModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center"
  >
    <div class="modal-content w-fit">
      <div class="modal-body">
        <img
          src="<%= user.memberCard %>"
          alt="kartu member"
          id="memberCardImage"
          style="border: 1px solid #ccc; border-radius: 6px"
        />
        <div class="text-center mt-3">
          <a
            href="<%= user.memberCard %>"
            download="member-card.png"
            class="btn btn-primary"
          >
            Download Image
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
