<div>
  <div class="d-flex justify-content-start align-items-center mb-5">
    <h4>Dashboard</h4>
  </div>

  <div class="row wpo-dashboard-page">
    <div class="col col-lg-3 col-12">
      <div class="card card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <h5>Produk</h5>
            <h3><%= product %></h3>
          </div>
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-12">
      <div class="card card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <h5>Member</h5>
            <h3><%= user %></h3>
          </div>
          <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-12">
      <div class="card card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <h5>Location</h5>
            <h3><%= location %></h3>
          </div>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-12">
      <div class="card card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <h5>Post</h5>
            <h3><%= posts %></h3>
          </div>
          <i class="fa fa-clipboard" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
