label.area-dropdown {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px dashed #e8e8e8;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
