.wpo-dashboard {
  display: flex;
  background-color: rgb(250, 250, 239);
  height: 100vh;

  .wpo-sidebar {
    width: 20%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    @include transition-time(0.3s);
    @include media-query(991px) {
      width: fit-content;
      position: relative;
      height: auto;
    }

    .wpo-sidebar-widget {
      .wpo-widget-title {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 10px;
        padding: 15px 20px;
        border-radius: 7px;
        border: 1px solid #ebebeb;
        img {
          @media (max-width: 991px) {
            display: none;
          }
        }
        @include media-query(991px) {
          padding: 4px;
          margin: 10px 1px;
          border: none;
        }
      }

      .wpo-widget-menu {
        ul {
          li {
            a {
              display: flex;
              align-items: center;
              gap: 16px;
              padding: 15px 20px;
              color: slategray;
              @include transition-time(0.3s);
              @include media-query(991px) {
                padding: 10px;
                display: flex;
                justify-content: center;
              }

              &:hover {
                color: $theme-primary-color;
                border-right: 3px solid $theme-primary-color;
                background-color: rgb(227, 228, 230);
              }

              span {
                @include media-query(991px) {
                  display: none;
                }
              }
            }
            &.active {
              color: $theme-primary-color;
              border-right: 3px solid $theme-primary-color;
              background-color: rgb(227, 228, 230);
            }
          }
        }
      }
    }

    .wpo-sidebar-widget-logout {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .wpo-widget-menu {
        ul {
          margin-bottom: 0;
          li {
            a {
              display: flex;
              align-items: center;
              gap: 16px;
              padding: 15px 20px;
              color: slategray;
              @include transition-time(0.3s);
              @include media-query(991px) {
                padding: 10px;
                display: flex;
                justify-content: center;
              }

              &:hover,
              &:active {
                color: $theme-primary-color;
                border-right: 3px solid $theme-primary-color;
                background-color: rgb(227, 228, 230);
              }

              span {
                @include media-query(991px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar-helper {
    width: 20%;

    @include media-query(991px) {
      display: none;
    }
  }

  main {
    flex: 1 1 0%;
    @include media-query(991px) {
      width: 100%;
      margin-left: 0 !important;
      padding: 1rem !important;
      height: 100%;
      overflow-x: hidden;
    }
  }
}
