<!-- All JavaScript files
    ================================================== -->
<script src="/assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<!-- Plugins for this template -->
<script src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/jquery.dlmenu.js"></script>
<script src="/assets/js/jquery-plugin-collection.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/qrcode.js"></script>
<!-- Custom script for this template -->
<script src="/assets/js/script.js"></script>
<%- include('./ui/sweetalert.ejs') %>
</body>

</html>